  
<section id="footer">
    <div class="footer-div">
        <a href="https://twitter.com/"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square fa-2x"></i></a>
    </div>
    <div class="center" style="padding-top: 10px;">
        <p id="last-paragraph">
            Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved | 
            This page is made with <i class="fa fa-heart color-danger color-icon"></i> and <i class="fas fa-code color-icon"></i>.
        </p>
    </div>
</section>
</body>
</html>