<!-- Scrollbar Section  -->
<section id="scrollbar">
    <div id="scrollbar-div">
        <div class="photobanner">
            <img class="first" src="/img/room-1.webp" alt="image-1">
            <img src="/img/bar.jpg" alt="image-bar">
            <img src="/img/food.webp" alt="image-10">
            <img src="/img/hotel-1.png" alt="image-10">
            <img src="/img/hotel-2.png" alt="image-10">
            <img src="/img/resturant.webp" alt="image-10">
            <img src="/img/room.webp" alt="image-7">
            <img src="/img/room-7.webp" alt="image-7">
            <img src="/img/room-8.webp" alt="image-8">
            <img src="/img/room-9.webp" alt="image-9">
            <img src="/img/room-1.webp" alt="image-9">
            <img src="/img/bar.jpg" alt="image-10">
            <img src="/img/food.webp" alt="image-10">
            <img src="/img/hotel-1.png" alt="image-10">
            <img src="/img/hotel-2.png" alt="image-10">
            <img src="/img/resturant.webp" alt="image-10">
            <img src="/img/room-final.jpg" alt="image-8">
        </div>
    </div>
</section>

<!-- Footer Section -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 footer-tab">
                <h5>Dream Palace Hotel</h5>
                <p id="paragraph-designer">Dream Palace Hotel is one of the best places to spent your day. Here, you can't miss your home. This is our guarantee.
                </p>
                <div class="row">
                    <div class="footer-icon"><a href="https://twitter.com/"><i class="fab fa-twitter-square fa-2x"></i></a></i></div>
                    <div class="footer-icon"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a></div>
                    <div class="footer-icon"><a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x"></i></a></div>
                    <div class="footer-icon"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square fa-2x"></i></a></div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 footer-tab">
                <h5>Navigation</h5>                        
                <a href="/about"><p>About</p></a>
                <a href="/rooms"><p>Our Rooms</p></a>
                <a href="/users/login"><p>Book a Room</p></a>
                <a href="#"><p>Privacy & Policy</p></a>
                <a href="/contact"><p>Contact</p></a>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 footer-tab">
                <h5>Address</h5>
                <p>BCET Gurdaspur, Hostel No. - 03</p>
                <a href="/contact"><p style="font-size: 30px;">(+91) 99999-99999</p></a>
                <a href="mailto:contact@dreampalace.com"><p>contact@dreampalace.com</p></a>
            </div>
        </div>
    </div>
    <p id="last-footer">
        Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved | 
        This page is made with <i class="fa fa-heart color-danger color-icon"></i> and <i class="fas fa-code color-icon"></i>.
    </p>
</section>
<script src="/js/index.js"></script>
</body>
</html>
