<%- include("partials/header") -%> 

<div class="float-img">
    <img src="/img/room-final1.jpg" alt="room-image">
    <div class="div-on-image justify-content-between align-items-center">
        <p>World Class <br>Accomodation</p>
        <h3>A hotel that defines <br>a new dimension of luxury.</h3>
    </div>
</div>
</section>

<!-- Intro Section -->
<section id="intro">
<div class="container">
    <h2>Our Hotel offers best rooms, best services, best locality and alomst best in everything. Please visit once.</h2>
    <div class="row justify-content-between align-items-center">
        <div class="intro-first-div col-xl-4 col-lg-4 col-md-6">
            <h3>The most memorable rest time starts here.</h3>
            <p style="color: #8f8f8f;">You are going to spent your best holiday in this hotel and going to remember this for the whole life. Just believe us and please visit once.</p>
            <a href="/users/login" class="btn btn-outline-dark">Book A Room Now.</a>
        </div>
        <div class="intro-div-img col-xl-7 col-lg-7 col-md-6">
            <img src="/img/hotel-2.png" alt="Hotel-Image">
        </div>
    </div>
    
</div>
</section>

<!-- Features Section -->
<section id="features">
<div class="container">
    <h1>The best features of our Hotel</h1><br><br>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div>
                <img src="/img/room.webp" alt="room-image">
            </div>
            <div>
                <h5 class="heading-5">Beautiful Accomodation</h5>
                <p class="paragraph-color">Beautiful and clean rooms which ambiance and interior make you fall in love with the room. </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div>
                <img src="/img/resturant.webp" alt="restaurant-image">
            </div>
            <div>
                <h5 class="heading-5">Stunning Restaurant</h5>
                <p class="paragraph-color">Restaurant which makes you forget everything when you are within. You'll say just awesome.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div>
                <img src="/img/food.webp" alt="food-image">
            </div>
            <div>
                <h5 class="heading-5">Taste Food</h5>
                <p class="paragraph-color"> Beautiful and clean rooms which ambiance and interior make you fall in love with the room. </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div>
                <img src="/img/bar.jpg" alt="bar-image">
            </div>
            <div>
                <h5 class="heading-5">24 X 7 Bar</h5>
                <p class="paragraph-color">Bar where you can come anytime and enjoy your drink with your favourite music.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div>
                <img src="/img/swimming-pool.jpg" alt="swimming-pool-image" sizes="350x309.39">
            </div>
            <div>
                <h5 class="heading-5">Superb Pool</h5>
                <p class="paragraph-color">If you love swimming then you are going to love this place for having this amazing pool.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div>
                <img src="/img/parking-lot.jpg" alt="parking-lot-image">
            </div>
            <div>
                <h5 class="heading-5">Secure Parking</h5>
                <p class="paragraph-color">Private, Safe and Secure parking space where you can park vehicle for free of cost.</p>
            </div>
        </div>
    </div>
</div>

</section>

<!-- Testimonials Section -->
<section id="cta">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
    <div class="carousel-inner container">
        <div class="carousel-item">
            <div class="row">
                <div class="carousel-div">
                    <h3>Food is yummy</h3>
                    <h6>"I ordered food from here for the first time on a special occasion. I have listened from my friends that this place is awsome and provides better servies than other hotels. I also have the same experience. Thanks...</h6>
                    <img src="/img/surya.jpeg" alt="lady-img">
                    <p class="paragraph-center">Surya Sharma</p>
                </div>
                <div class="carousel-div">
                    <h3>Rooms are fresh</h3>
                    <h6>"I have visited this place with my friends. All enjoyed here very much & the rooms are very clean here. Our holiday trip was passed very happily with this place. Going to stay again in the same hotel if we visited again. Thanks..."</h6>
                    <img src="/img/kallu.jpg" alt="kanhaiya-img">
                    <p class="paragraph-center">Kanhaiya Laxmi Sharma</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="carousel-div">
                    <h3>Delicious Food</h3>
                    <h6>"Nicely-Lovely food, really enjoyed with friends. I placed order first time by seeing name with the fear how the services are going to be and we really appreciate them. Will order again and again. Thanks...</h6>
                    <img src="/img/rashmi.jpg" alt="rashmi-img">
                    <p class="paragraph-center">Rashmi Raj</p>
                </div>
                <div class="carousel-div">
                    <h3>Nice Accomodation</h3>
                    <h6>"I have spent a couple of days here & it was wonderful. I also made special memories. What a beautiful environment I get here every day. The hotel, and people all make it so very special. Thank you guys...</h6>
                    <img src="/img/abhijeet.jpg" alt="abhijeet-img">
                    <p class="paragraph-center">Abhijeet Singh Yadav</p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="row">
                <div class="carousel-div">
                    <h3>Better place to stay</h3>
                    <h6>"I have booked this place by reading the reviews from the website. Firstly, I think that the ratings are overrated but after visiting this place, i must say that all ratings are authentic. Going to stay here again on my next trip. Thanks..."</h6>
                    <img src="/img/sakchham.jpg" alt="sakchham-img">
                    <p class="paragraph-center">Sakchham Kumar Sharma</p>
                </div>
                <div class="carousel-div">
                    <h3>Nice Locality</h3>
                    <h6>"The best thing about this hotel is it has very nice locality. You can say it is in a porse area. No problems with parking. You can get very good places to visit from here. Overall, you are not going to regret by staying here."</h6>
                    <img src="/img/lady-img.jpg" alt="lady-img">
                    <p class="paragraph-center">Mahi Singh</p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</section>

<%- include("partials/form") -%> 

<%- include("partials/footer") -%> 