<%- include("partials/header") -%> 

<div class="float-img">
    <img src="/img/hotel-room.png" alt="room-image" style="height: 80%;">
    <div class="div-on-image">
        <p>Our Rooms</p>
        <h3>A hotel that defines <br>a new dimension of luxury.</h3>
    </div>
</div>
</section>

<!-- Rooms Section -->
<section id="rooms">
<h1>Our Rooms with different themes</h1>
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 image-specs">
        <img src="/img/room.webp" alt="room-1">
        <h4>Our Special and with unique interior designing</h4>
        <p>This one is our special and comes with unique interior designing and unique architecture.</p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 image-specs">
        <img src="/img/room-1.webp" alt="room-2">
        <h4>Our Special and with unique interior designing</h4> 
        <p>This one is our special and comes with unique interior designing and unique architecture.</p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 image-specs">
        <img src="/img/room-7.webp" alt="room-3">
        <h4>Our Special and with unique interior designing</h4> 
        <p>This one is our special and comes with unique interior designing and unique architecture.</p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 image-specs">
        <img src="/img/room-8.webp" alt="room-4">
        <h4>Our Special and with unique interior designing</h4> 
        <p>This one is our special and comes with unique interior designing and unique architecture.</p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 image-specs">
        <img src="/img/room-9.webp" alt="room-5">
        <h4>Our Special and with unique interior designing</h4> 
        <p>This one is our special and comes with unique interior designing and unique architecture.</p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 image-specs">
        <img src="/img/room-final.jpg" alt="room-6">
        <h4>Our Special and with unique interior designing</h4> 
        <p>This one is our special and comes with unique interior designing and unique architecture.</p>
    </div>
</div>
</section>

<!-- Pricing Section -->
<%- include("partials/form") -%> 

<%- include("partials/footer") -%> 