/* Body Selectors */

/* Contact Section */

#contact {
    padding: 7% 0;
    font-family: 'Josefin Sans', sans-serif;
}

.mapouter {
    text-align: right;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    /* overflow: hidden; */
    background: #FFF!important;
    height: 800px;
    width: 100%;
}

.gmap_canvas iframe{
    height: 100%;
    width: 100%;
}

.grammerly-contact {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    pointer-events: none;
}

.form-contact .form-group {
    margin-bottom: 30px;
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.mt-3 {
    margin-top: 1rem !important;
}

.media {
    display: inline-flexbox;
    /* width: 33%; */
}

.contact-title {
    padding-top: 7%;
}

.contact-info {
    margin-bottom: 25px;
}

.contact-info__icon {
    margin-right: 20px;
}

.media-body {
    /* -ms-flex: 1; */
    /* flex: 1; */
    color: #8f8f8f;
}

.media-body h6, .media-body p {
    font-family: 'Lato', serif;
}

.media-body h6:hover {
    color: #A85432;
    cursor: pointer;
    transform: scale(1.4);
    transition: 1s;
    -webkit-transition: 1s;
}

.media-body p {
    font-size: 13px;
}